@model TaskProject.ViewModel.AccountDetailsViewModel
@using System.Linq
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/user.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container mt-4">
    <h2>Hesap Detayları</h2>
    <dl class="row">
        <dt class="col-sm-3">Hesap Numarası</dt>
        <dd class="col-sm-9">@Model.Account.AccountNumber</dd>

        <dt class="col-sm-3">Hesap Türü</dt>
        <dd class="col-sm-9">@Model.Account.AccountTypeName</dd>

        <dt class="col-sm-3">Bakiye</dt>
        <dd class="col-sm-9">@Model.Account.Balance.ToString("C2")</dd>

        <dt class="col-sm-3">Oluşturma Tarihi</dt>
        <dd class="col-sm-9">@Model.Account.CreatedDate.ToString("dd.MM.yyyy HH:mm")</dd>
    </dl>

    <h2>Gelen Transferler</h2>
    <table class="table table-bordered table-striped mt-3" id="incomingTransfers">
        <thead class="thead-dark">
            <tr>
                <th>Gönderen Hesap</th>
                <th>Miktar</th>
                <th>Tarih</th>
                <th>Açıklama</th>
                <th>Güncel Bakiye</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Giden Transferler</h2>
    <table class="table table-bordered table-striped mt-3" id="outgoingTransfers">
        <thead class="thead-dark">
            <tr>
                <th>Alıcı Hesap</th>
                <th>Miktar</th>
                <th>Tarih</th>
                <th>Açıklama</th>
                <th>Güncel Bakiye</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        var accountId = @Model.Account.AccountID;
        $.ajax({
            url: '@Url.Action("GetTransferHistory", "Accounts")',
            type: 'GET',
            data: { accountId: accountId },
            success: function (data) {
                $.each(data.incomingMovements, function (index, movement) {
                    var timestamp = parseInt(movement.TransferDate.match(/\/Date\((\d+)\)\//)[1]);
                    var transferDate = new Date(timestamp);
                    var formattedDate = transferDate.getFullYear() + "-" +
                        ("0" + (transferDate.getMonth() + 1)).slice(-2) + "-" +
                        ("0" + transferDate.getDate()).slice(-2) + " " +
                        ("0" + transferDate.getHours()).slice(-2) + ":" +
                        ("0" + transferDate.getMinutes()).slice(-2) + ":" +
                        ("0" + transferDate.getSeconds()).slice(-2);

                    $('#incomingTransfers tbody').append(
                        '<tr>' +
                        '<td>' + movement.FromAccountNumber + '</td>' +
                        '<td>' + movement.Amount.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) + '</td>' +
                        '<td>' + formattedDate + '</td>' +
                        '<td>' + movement.Description + '</td>' +
                        '<td>' + movement.RecipientRemainingBalance.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) + '</td>' +
                        '</tr>'
                    );
                });

                $.each(data.outgoingMovements, function (index, movement) {
                    var timestamp = parseInt(movement.TransferDate.match(/\/Date\((\d+)\)\//)[1]);
                    var transferDate = new Date(timestamp);
                    var formattedDate = transferDate.getFullYear() + "-" +
                        ("0" + (transferDate.getMonth() + 1)).slice(-2) + "-" +
                        ("0" + transferDate.getDate()).slice(-2) + " " +
                        ("0" + transferDate.getHours()).slice(-2) + ":" +
                        ("0" + transferDate.getMinutes()).slice(-2) + ":" +
                        ("0" + transferDate.getSeconds()).slice(-2);

                    $('#outgoingTransfers tbody').append(
                        '<tr>' +
                        '<td>' + movement.ToAccountNumber + '</td>' +
                        '<td>' + movement.Amount.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) + '</td>' +
                        '<td>' + formattedDate + '</td>' +
                        '<td>' + movement.Description + '</td>' +
                        '<td>' + movement.RemainingBalance.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) + '</td>' +
                        '</tr>'
                    );
                });
            }
        });
    });
</script>